body {
    background-color: rgb(202, 201, 201);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

.container {
    display: flex; 
    justify-content: space-between;
    padding: 10px; 
}

.box {
    width: 8%; 
    max-width: 800px; 
    margin: 20px auto;
    padding: 20px; 
    background-color: #fff;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.left {
    width: 300px; 
    background-color: rgb(247, 250, 251);
}

.right {
    width: 60%; 
}

img {
    max-width: 100%; 
    height: auto; 
    object-fit: cover; 
}


h1 {
    font-size: 30px;
    margin: 0;
    color: #333; 
    text-align:center;
}

h2 {
    font-size: 20px;
    color: #333;
    text-align:center;
}

h3 {
    font-size: 17px;
    color: #333;
    text-align: left;
    padding: 0;
}

p {
    font-size: 14px; 
    padding: 1px;
    line-height: 1.6;
    color: #555; 
    margin: 0 0 10px;
}

.linea {
    height: 3px;
    width: 50%;
    background-color: #827a7a; 
    margin: 10px 0; 
}

.h {
    font-size: 14px; 
}


p {
    font-size: 12px;
    line-height: 1.6; 
    color: #555; 
}

.left {
    width: 200px;
    height: 600px;
    background-color: rgb(247, 250, 251);
}

.right {  
}

img {
    max-width: 90%; 
    max-height: 90cap;
    object-fit: cover; 
    border-radius: 200px;
}


